{% extends "layouts/basic.html" %}

{% import "helpers/snippets.html" as snippet with context %}
{% block before_head %}
  {{ super() }}
  {% import "helpers/src_macros.html" as macro %}
  {{ macro.filehelper(datatables=True,query=True,select2=True) }}
{% endblock %}

{%block header_title%}Agents<p class="text-sm text-gray-500 font-medium">View summary of all agents. Select the button on the right to install more agents</p>{%endblock%}
{%block header_actions%}<a href="{{config.DOC_LINK}}" class="btn btn-sm btn-primary">Register Agents</a>{%endblock%}

{%block content%}
<div class="grid grid-cols-6 gap-4 mt-2">
    <div class="col-span-1 h-full">
        <ul class="menu bg-base-100 p-2 rounded-box h-full">
            <li class="text-xl font-medium text-gray-500">
                <p class="m-auto">Summary</p>
            </li>
            <div class="divider my-0 px-4"></div>
            <div id="summary-tab" class="p-4"></div>
        </ul>
    </div>
  <div class="col-span-5">
  <div class="col-span-6">
    <div class="card bg-base-100">
      <div id="asset-table" class="card-body"></div>
    </div>
  </div>
</div>
</div>
</div>

<input type="checkbox" id="agent-modal" class="modal-toggle" />
<label for="agent-modal" class="modal cursor-pointer">
  <label class="modal-box relative w-11/12 max-w-5xl" for="">
    <h3 class="text-lg font-bold">Agent Details</h3>
    <p class="py-4"></p>
  </label>
</label>
{%endblock%}

{%block extrajs%}
<script>
  $(document).ready(function() {
  function loadSummaryStats() {
    $.ajax({
      type: "GET",
      url: "/api/v1/stats/agent-summary",
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(data){
//haaaaaaaaa
        $("#summary-tab").html("");
        $("#summary-tab").append(`<li class="text-sm font-medium text-gray-500 mb-2"><div class="justify-between"><label>Total Agents</label><label>${data["total_agents"]}</label></div></li>`)
        $("#summary-tab").append(`<li class="text-sm font-medium text-gray-500 mb-2"><div class="justify-between"><label>Active Agents</label><label>${data["active_agents"]}</label></div></li>`)
        $("#summary-tab").append(`<li class="text-sm font-medium text-gray-500 mb-2"><div class="justify-between"><label>Stale Agents</label><label>${data["stale_agents"]}</label></div></li>`)
        // add OS stats
        for (var key in data["os"]){
          $("#summary-tab").append(`<li class="text-sm font-medium text-gray-500 mb-2"><div class="justify-between"><label>${key}</label><label>${data["os"][key]}</label></div></li>`)
        }
      },
      error: function(errMsg) {
        return(errMsg);
      }
    });
  }
      loadSummaryStats()
      const ta2 = new Table({
        "selector":"#asset-table",
        "dataUrl":"/api/v1/assets?columns=yes",
        "ruleUrl":"/api/v1/tables/agent/rules",
        "nextLinkField":"agent_ref",
        "spawnModalOnClick":true,
        "enableFilter": true,
        "refreshBtn": true,
        "toggleCols": true
      });
      ta2.create("Agents")
//haaaaaaa

      // click on asset to show details
      $(document).on('click', '.modal-button', function() {
        document.getElementById('agent-modal').checked = true;
        var agentKey = $(this).data('agent-key')
        $.ajax({
          type: "GET",
          url: `/api/v1/assets/${agentKey}`,
          contentType: "application/json; charset=utf-8",
          success: function(data){
            console.log(data)
            return(data)
          },
          error: function(errMsg) {
            return(errMsg);
          }
        })
      });
  });
</script>

{% endblock %}
